<h1>Education</h1>

<div class="with-date">
    <h3>Instituto Tecnológico y de Estudios Superiores de Monterrey</h3>
    <p>08/2020 – 06/2024</p>
</div>

<p>Bachelor of Science in Computer Science and Technology</p>
<ul>
    <li><b>GPA: 98/100</b></li>
    <li>Relevant Coursework: OOP, D.S. & Algorithms, IoT, Linear Algebra, Software Development, Calculus</li>
    <li>Obtained a <b>40% scholarship</b> for academic excellence</li>
</ul>

<div class="with-date">
    <h3>John Abbott College</h3>
    <p>05/2019 – 06/2019</p>
</div>
<p>Summer Exchange Program in Montreal, Canada</p>