<div class="center-header">
    <div class="row">
        <div>
            <h1>José Emilio Alvear Cantú</h1>
            <h3>Fullstack Software Developer</h3>
            <div class="contact-information">
                <div>
                    <img src="./assets/email-logo-png-27.png" alt="email logo" width="20px">
                    <p>emilio.alvear@hotmail.com</p>
                </div>
                <div>
                    <img src="./assets/phone-icon-logo-0.png" alt="phone logo" width="15px">
                    <p>+52 55 2966 2786</p>
                </div>
                <div>
                    <img src="./assets/location-map-pins-png-3.png" alt="location logo" width="20px">
                    <p>Monterrey, Mexico</p>
                </div>
                <div>
                    <img src="./assets/githublogo.png" alt="github logo" width="20px">
                    <p>emilio_0404</p>
                </div>
            </div>
        </div>
        <div>
            <img src="./assets/JoseEmilioAlvearCantu_picture.jpeg" alt="picture" class="img-profile">
        </div>
    </div>
</div>