<h1>Work Experience</h1>

<div>
    <div class="with-date">
        <h3>Microsoft Explore Intern</h3>
        <p class="red">06/2022 – 09/2022</p>
    </div>
    <ul>
        <li>Participated in the whole software engineering lifecycle with a team of three</li>
        <li>Developed a command line application with the .NET framework</li>
        <li>Developed a PowerBI dashboard for data analysis regarding internal tool's performance</li>
        <li>Met with stakeholders to ensure the delivery of our products met their needs</li>
    </ul>
</div>

<div>
    <div class="with-date">
        <h3>Espora Graphic Design Intern</h3>
        <p class="red">06/2018 – 08/2018</p>
    </div>
    <ul>
        <li>Worked with a team of eight in the creative process for the creation of digital content for social media</li>
    </ul>
</div>