<h1>Projects</h1>

<div>   
    <div class="with-date">
        <h3>Denso Catch&Hire</h3>
        <p class="red">02/2022 – 04/2022</p>
    </div>
    <ul>
        <li>Led a team of four to develop a prototype website to manage candidates who had applied open jobs in Denso</li>
        <li>Built the website using React and wrote an API using Flask and SQLAlchemy</li>
        <li>Designed and implemented a database for the prototype using SQL Server</li>
    </ul>
</div>

<div>
    <div class="with-date">
        <h3>Electric Field Simulation</h3>
        <p class="red">09/2021</p>
    </div>
    <ul>
        <li>Built a MATLAB application in a team of five for a school project that simulates the vector field of interacting electric charges according to user input</li>
        <li>Was responsible for implementing a GUI in MATLAB designer and coding the vector calculations</li>
    </ul>
</div>

<div>
    <div class="with-date">
        <h3>Be Well Mobile App</h3>
        <p class="red">08/2021</p>
    </div>
    <ul>
        <li>Used Android Studio to develop a hackathon prototype in a team of four members for a mental health application during HackMTY</li>
        <li>Integrated voice recognition using the Speech-to-Text Google API</li>
    </ul>
</div>