h1 {
    margin: 0;
}

h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

p {
    margin-top: 7.5px;
    margin-bottom: 0;
    margin-left: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 2px;
    width: 75%;
}

.same-row {
    display: flex;
    flex-direction: row;
}