.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

table, th, td {
    border: 5px solid;
    border-color: #2B3467;
    padding: 4px;
    border-collapse: collapse;
}

td {
    padding: 10px;
}